html,body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto ;
    padding: 0px;
    font-size: 62.5%;
    line-height: 1.15;
    font-family: 'Poppins', sans-serif;
    
}
/* --------------------------- */
/* HEADER */
/* --------------------------- */

header {
    width: 100%;
    margin: auto;
    height: 90rem ;
    background: linear-gradient(90deg, rgba(0,0,60,1) 0%, rgba(1,1,75,1) 100%);
}

.logo {
    color: #CBCAE9;
    font-size: 2.5rem;
    font-weight: 700;
    float: left;
}

.logo-yellow {
    color: #FBCB21;
}

/* navigation */

.row {
    padding: 6rem;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 5rem;
    font-size: 1.4rem;
}

.main-nav li a {
    color: #CBCAE9;
    text-decoration: none;
}

/* end of navigation */

/* hero image/text */

.image-header {
    margin-top: 6rem;
    float: left;
    position: absolute;
    top: 10rem;
    left: 10rem;
}

.headerHeading {
    position: absolute;
    top:30rem;
    left:80rem; 
}
.headerHeading h1 {
    color: #CBCAE9;
    font-size:3rem;    
}
.quote-btn {
    margin-top: 3rem;
    position: absolute;
    left: 20rem;
}
.quote-btn a {
    text-decoration: none;
}
.btn {
    padding-top:1.2rem;
    padding-bottom:1.2rem;
    padding-left: 3rem;
    padding-right: 7rem;
    border-radius: 1rem;
    font-size: 1.7rem;
    color: #CBCAE9;
    background-color: transparent;
    outline: none;
    border: 1px solid #FBCB21;
}
.line1 {
    height: 0.1rem;
    background-color: #FBCB21;
    width:20rem;
    position: absolute;
    bottom: 1rem;
    right: 20rem;
}
.fas {
    color: #FBCB21;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 0rem;
}
/* end of hero image/text */

/* --------------------------- */
/* ABOUT SECTION */
/* --------------------------- */

.about-section {
    margin-top: 20rem;
    height: 60rem;
    position: relative;
}
.leftSide {
    width: 50%;
    float: left;
}
.rightSide {
    width:50%;
    float: right;
}
.leftText {
    margin-top: 3rem;
    font-size: 17rem;
    font-weight: 700;
    color: #00003C;
    display: inline-block;
    float: right;
    padding-right:7rem;
}
.leftSide-line1 {
    height: 0.1rem;
    width: 20rem;
    background-color:#00003C;
    display: inline-block;
    position: absolute;
    top:13rem;
    left:18rem;
}
.rightSide p {
    color: #00003C;
    font-size: 1.5rem;
    line-height: 1.4;
    width:50rem;
    margin: 0;
    padding:7rem 7rem;

    display: inline-block;
}
.about-ab {
    line-height: 0.4;
    text-align: right;
}


/* --------------------------- */
/* PORTFOLIO TEXT SECTION */
/* --------------------------- */

.portfolio-section {
    background-image: url('../images/pattern.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #FBCB21;
    height: 60rem;
    position: relative;
}
.portfolio-leftSide {
   
    float: left;
}
.portfolio-leftText {
    
    font-size: 10rem;
    font-weight: 700;
    color: #00003C;
    display: inline-block;
    position: absolute;
    left: 30rem;
    top: 10rem;
}
.vertical-line1 {
    height: 35rem;
    width: 0.1rem;
    background-color:#00003C;
    position: absolute;
    left: 50rem;
    top: -25rem;
    z-index: 13;
}
.rightSide-line2 {
    height: 25rem;
    width: 0.1rem;
    background-color:#00003C;
    position: absolute;
    left: 50rem;
    top: 30rem;
    z-index: 13;
}
.folio {
    line-height: 0.5;
    position: absolute;
    left: 3rem;
}
.scroll-text {
    font-size: 1.5rem;
    color:#00003C;
    position: absolute;
    left: 52rem;
    top: 50rem;
    z-index: 13;
}

/* --------------------------- */
/* PORTFOLIO WORK SECTION */
/* --------------------------- */

.portfolio-work {
    margin-top: 0rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 50rem;
}
.box {
    width: 10rem;
    height: 50rem;
    background-color: rgb(240, 216, 6);
    box-sizing: border-box;
    float: left;
}
.box1 {
    background-image: url('../images/portfolio1');
    background-size: cover;
    background-position: center;
    padding-right:2rem;
    width: 33.33%;
}
.box2 {
    background-image:;
    background-color: #CBCAE9;
    padding-right:2rem;
    width: 33.33%;
}
.box3 {
    background-color:#00003C;
    width: 33.33%;
}
.portfolio-work:after {
    content: "";
    display: table;
    clear: both;
}