html,body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto ;
    padding: 0px;
    font-size: 62.5%;
    line-height: 1.15;
    font-family: 'Poppins', sans-serif;
    
}
/* --------------------------- */
/* HEADER */
/* --------------------------- */

header {
    width: 100%;
    margin: auto;
    height: 90rem ;
    background: linear-gradient(90deg, rgba(0,0,60,1) 0%, rgba(1,1,75,1) 100%);
}

.logo {
    color: #CBCAE9;
    font-size: 2.5rem;
    font-weight: 700;
    float: left;
}

.logo-yellow {
    color: #FBCB21;
}

/* navigation */

.row {
    background: linear-gradient(90deg, rgba(0,0,60,1) 0%, rgba(1,1,75,1) 100%);
    width: 100%;
    margin: auto;
    position: fixed;
    padding: 3rem;
    display: inline;
    z-index: 999;
    
}

.main-nav {
    margin-right: 14rem;
    float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.4rem;
}

.main-nav li a {
    color: #CBCAE9;
    text-decoration: none;
}
.main-nav li a:hover {
    color: #FBCB21;
    transition: all .3s;
} 

/* end of navigation */

/* hero image/text */

.image-header {
    margin-top: 6rem;
    float: left;
    position: absolute;
    top: 10rem;
    left: 10rem;
}

.headerHeading {
    position: absolute;
    top:30rem;
    left:80rem; 
}
.headerHeading h1 {
    color: #CBCAE9;
    font-size:3rem;    
}
.quote-btn {
    width: 20rem;
    margin-top: 3rem;
    position: absolute;
    left: 20rem;
}
.quote-btn a {
    text-decoration: none;
}
.btn {
    padding-top:1.2rem;
    padding-bottom:1.2rem;
    padding-left: 3rem;
    padding-right: 7rem;
    border-radius: 1rem;
    font-size: 1.7rem;
    color: #CBCAE9;
    background-color: transparent;
    outline: none;
    border: 1px solid #FBCB21;
}
.line1 {
    height: 0.1rem;
    background-color: #FBCB21;
    width:20rem;
    position: absolute;
    bottom: 1rem;
    right: 22rem;
}
.fas {
    color: #FBCB21;
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    top: 0rem;
}
/* end of hero image/text */

/* --------------------------- */
/* ABOUT SECTION */
/* --------------------------- */

.about-section {
    margin-top: 20rem;
    height: 60rem;
    position: relative;
}
.leftSide {
    width: 50%;
    float: left;
}
.rightSide {
    width:50%;
    float: right;
}
.leftText {
    margin-top: 3rem;
    font-size: 17rem;
    font-weight: 700;
    color: #00003C;
    display: inline-block;
    float: right;
    padding-right:7rem;
}
.leftSide-line1 {
    height: 0.1rem;
    width: 20rem;
    background-color:#00003C;
    display: inline-block;
    position: absolute;
    top:13rem;
    left:18rem;
}
.rightSide p {
    color: #00003C;
    font-size: 1.5rem;
    line-height: 1.4;
    width:50rem;
    margin: 0;
    padding:7rem 7rem;

    display: inline-block;
}
.about-ab {
    line-height: 0.4;
    text-align: right;
}


/* --------------------------- */
/* PORTFOLIO TEXT SECTION */
/* --------------------------- */

.portfolio-section {
    background-image: url('../images/pattern.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: #FBCB21;
    height: 60rem;
    position: relative;
}
.portfolio-leftSide {
   
    float: left;
}
.portfolio-leftText {
    
    font-size: 10rem;
    font-weight: 700;
    color: #00003C;
    display: inline-block;
    position: absolute;
    left: 30rem;
    top: 10rem;
}
.vertical-line1 {
    height: 35rem;
    width: 0.1rem;
    background-color:#00003C;
    position: absolute;
    left: 50rem;
    top: -25rem;
    z-index: 13;
}
.rightSide-line2 {
    height: 25rem;
    width: 0.1rem;
    background-color:#00003C;
    position: absolute;
    left: 50rem;
    top: 30rem;
    z-index: 13;
}
.folio {
    line-height: 0.5;
    position: absolute;
    left: 3rem;
}
.scroll-text {
    font-size: 1.5rem;
    color:#00003C;
    position: absolute;
    left: 52rem;
    top: 50rem;
    z-index: 13;
}

/* --------------------------- */
/* PORTFOLIO WORK SECTION */
/* --------------------------- */

.portfolio-work {
    margin:auto;
    margin-top: 10rem;
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: 50rem;
}
.box {
    width: 10rem;
    padding:0;
    margin: 0.7rem;
    height: 40rem;
    background-color: rgb(240, 216, 6);
    box-sizing: border-box;
    float: left;
    transition: all .2s ease-in-out;
    position: relative;
}

.box:hover {
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    z-index: 200;
    transform: scale(1.1);
    cursor: pointer;
    background: rgb(0, 0, 60);
}
.box1 {
    background-image: url('../images/portfolio1.jpg');
    background-size: cover;
    background-position: center;
    padding-right:2rem;
    width: 30%;
}
.box2 {
    background-image:url('../images/portfolio2.jpg');
    background-size: cover;
    background-position: center;
    background-color: #CBCAE9;
    padding-right:2rem;
    width: 30%;
}
.box3 {
    background-image:url('../images/portfolio3.png');
    background-size: cover;
    background-position: center;
    background-color:#00003C;
    width: 30%;
}
.portfolio-work:after {
    content: "";
    display: table;
    clear: both;
}
.box a {
    font-size: 2rem;
    border: 1px solid #FBCB21;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    color: #CBCAE9;
    border-radius: 10px;
    opacity: 0;
}
.box p {
    color: #CBCAE9;
    font-size: 1.5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all .2s;
}
.box a:hover {
    opacity: 1;
}